.App {
  background: #000;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.App-header {
  padding: 10px 10px 0 10px;
  height: 148px;
  color: #fed;
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
}

.App-header h2 {
  margin: 0;
  font-weight: 300;
}

.App-frames {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* TODO */
  overflow: auto;
}

.App-frames .Frame .Frame .Frame {
  background-color: #fff !important;
}
